    <section id="widget-grid" class="">

    <div class="row">

        <!-- NEW WIDGET START -->

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-12" data-widget-editbutton="false">
            <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Details </h2> :    <h2> {{vm.employe.nom}} {{vm.employe.prenom}}</h2>


            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>


                <div class="well" >
                    <h2 style="color:#0c7cd5"><i><b><!--<span data-translate="qualiMakerApp.employe.detail.title">Employe</span> -->{{vm.employe.nom}} {{vm.employe.prenom}}</b></i></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">

        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">


              <dt><span data-translate="qualiMakerApp.employe.nom">Nom  </span></dt>
                <dd>
                    <span >{{vm.employe.nom}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.prenom">Prenom</span></dt>
                <dd>
                    <span>{{vm.employe.prenom}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.dateN">Date N</span></dt>
                <dd>
                    <span>{{vm.employe.dateN | date:'medium'}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.cin">Cin</span></dt>
                <dd>
                    <span>{{vm.employe.cin}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.sexe">Sexe</span></dt>
                <dd>
                    <span data-translate="{{'qualiMakerApp.Sexe.' + vm.employe.sexe}}">{{vm.employe.sexe}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.adress">Adress</span></dt>
                <dd>
                    <span>{{vm.employe.adress}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.gsm">Gsm</span></dt>
                <dd>
                    <span>{{vm.employe.gsm}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.lieuNais">Lieu Nais</span></dt>
                <dd>
                    <span>{{vm.employe.lieuNais}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.telMais">Tel Mais</span></dt>
                <dd>
                    <span>{{vm.employe.telMais}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.teleph">Teleph</span></dt>
                <dd>
                    <span>{{vm.employe.teleph}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.delivrele">Delivrele</span></dt>
                <dd>
                    <span>{{vm.employe.delivrele | date:'medium'}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.delivrea">Delivrea</span></dt>
                <dd>
                    <span>{{vm.employe.delivrea}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.email">Email</span></dt>
                <dd>
                    <span>{{vm.employe.email}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.matricule">Matricule</span></dt>
                <dd>
                    <span>{{vm.employe.matricule}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.email2">Email 2</span></dt>
                <dd>
                    <span>{{vm.employe.email2}}</span>
                </dd>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <dt><span data-translate="qualiMakerApp.employe.grade">Grade</span></dt>
                <dd>
                    <span>{{vm.employe.grade}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.rib">Rib</span></dt>
                <dd>
                    <span>{{vm.employe.rib}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.nsc">Nsc</span></dt>
                <dd>
                    <span>{{vm.employe.nsc}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.competence">Competence</span></dt>
                <dd>
                    <span>{{vm.employe.competence}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.diplome">Diplome</span></dt>
                <dd>
                    <span>{{vm.employe.diplome}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.experience">Experience</span></dt>
                <dd>
                    <span>{{vm.employe.experience}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.aptphy">Aptphy</span></dt>
                <dd>
                    <span>{{vm.employe.aptphy}}</span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.image">Image</span></dt>
                <dd>
                    <div ng-if="vm.employe.image">
                        <a ng-click="vm.openFile(vm.employe.imageContentType, vm.employe.image)">
                            <img data-ng-src="{{'data:' + vm.employe.imageContentType + ';base64,' + vm.employe.image}}" style="max-height: 50px;" alt="employe image"/>
                        </a>
                        {{vm.employe.imageContentType}}, {{vm.byteSize(vm.employe.image)}}
                    </div>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.cv">Cv</span></dt>
                <dd>
                    <div ng-if="vm.employe.cv">
                        <a ng-click="vm.openFile(vm.employe.cvContentType, vm.employe.cv)" data-translate="entity.action.open">open</a>
                        {{vm.employe.cvContentType}}, {{vm.byteSize(vm.employe.cv)}}
                    </div>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.carriere">Carriere</span></dt>
                <dd>
                    <a ui-sref="carriere-detail({id:vm.employe.carriere.id})">{{vm.employe.carriere.id}}</a>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.site">Site</span></dt>
                <dd>
                    <a ui-sref="sites-detail({id:vm.employe.site.id})">{{vm.employe.site.id}}</a>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.groupe">Groupe</span></dt>
                <dd>
                    <a ui-sref="groupe-detail({id:vm.employe.groupe.id})">{{vm.employe.groupe.id}}</a>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.abscence">Abscence</span></dt>
                <dd>
                    <a ui-sref="abscence-detail({id:vm.employe.abscence.id})">{{vm.employe.abscence.id}}</a>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.service">Service</span></dt>
                <dd>
                    <a ui-sref="serviice-detail({id:vm.employe.service.id})">{{vm.employe.service.id}}</a>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.formation">Formation</span></dt>
                <dd>
            <span ng-repeat="formation in vm.employe.formations">
                <a ui-sref="formation-detail({id: formation.id})">:{{formation.id}}</a>{{$last ? '' : ', '}}
            </span>
                </dd>
                <dt><span data-translate="qualiMakerApp.employe.fonction">Fonction</span></dt>
                <dd>
            <span ng-repeat="fonction in vm.employe.fonctions">
                <a ui-sref="fonction-detail({id: fonction.id})">:{{fonction.id}}</a>{{$last ? '' : ', '}}
            </span>
                </dd>
            </article>

        </div>

    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="employe-detail.edit({id:vm.employe.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
        </div>
    </div>
    </section>
