
<section id="widget-grid" class=""  >

    <!-- row -->


    <!-- NEW WIDGET START -->

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-redLight" id="wid-id-361" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-check"></i> </span>
            <h2 class="modal-title" id="myServicepostLabel" data-translate="qualiMakerApp.servicepost.home.createOrEditLabel">Create or edit a Servicepost</h2>

        </header>

        <!-- widget div-->


        <!-- widget edit box -->

        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body ">


        <form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4></h4>
    </div>
    <div class="modal-body well">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.servicepost.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.servicepost.id" readonly />
        </div>

        <div class="row">
            <article class="col-md-1">
                <label data-translate="qualiMakerApp.servicepost.serviice" for="field_serviice">Serviice</label>

            </article>
            <article class="col-md-11">
                <div class="form-group">
                    <select class="form-control" id="field_serviice" name="serviice" ng-model="vm.servicepost.serviice" ng-options="serviice as serviice.nom for serviice in vm.serviices track by serviice.id">
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.employe.$invalid">
                        <p class="help-block"
                           ng-show="editForm.employe.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="form-group">

        </div>
        <div class="form-group">
            <label data-translate="qualiMakerApp.servicepost.poste" for="field_poste">Poste</label>
            <select class="form-control" id="field_poste" multiple name="poste" ng-model="vm.servicepost.postes" ng-options="poste as poste.post for poste in vm.postes track by poste.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-success">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
        </div>
    </div>
</section>
