
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myIntegreLabel" data-translate="qualiMakerApp.integre.home.createOrEditLabel">Create or edit a Integre</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.integre.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.integre.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.integre.dateD" for="field_dateD">Date D</label>
                <div class="input-group">
                    <input id="field_dateD" type="text" class="form-control" name="dateD" datetime-picker="{{dateformat}}" ng-model="vm.integre.dateD" is-open="vm.datePickerOpenStatus.dateD"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateD')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.integre.dateF" for="field_dateF">Date F</label>
                <div class="input-group">
                    <input id="field_dateF" type="text" class="form-control" name="dateF" datetime-picker="{{dateformat}}" ng-model="vm.integre.dateF" is-open="vm.datePickerOpenStatus.dateF"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateF')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.integre.pointfort" for="field_pointfort">Pointfort</label>
            <input type="text" class="form-control" name="pointfort" id="field_pointfort"
                    ng-model="vm.integre.pointfort"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.integre.poitaibl" for="field_poitaibl">Poitaibl</label>
            <input type="text" class="form-control" name="poitaibl" id="field_poitaibl"
                    ng-model="vm.integre.poitaibl"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
