
<div>
    <h2><span data-translate="qualiMakerApp.fichierjoint.detail.title">Fichierjoint</span> {{vm.fichierjoint.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="qualiMakerApp.fichierjoint.nom">Nom</span></dt>
        <dd>
            <span>{{vm.fichierjoint.nom}}</span>
        </dd>
        <dt><span data-translate="qualiMakerApp.fichierjoint.commentaire">Commentaire</span></dt>
        <dd>
            <span>{{vm.fichierjoint.commentaire}}</span>
        </dd>
        <dt><span data-translate="qualiMakerApp.fichierjoint.fichejoint">Fichejoint</span></dt>
        <dd>
            <div ng-if="vm.fichierjoint.fichejoint">
                <a ng-click="vm.openFile(vm.fichierjoint.fichejointContentType, vm.fichierjoint.fichejoint)" data-translate="entity.action.open">open</a>
                {{vm.fichierjoint.fichejointContentType}}, {{vm.byteSize(vm.fichierjoint.fichejoint)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="fichierjoint-detail.edit({id:vm.fichierjoint.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
