
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDemandeFormationLabel" data-translate="qualiMakerApp.demandeFormation.home.createOrEditLabel">Create or edit a Demande Formation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.demandeFormation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.demandeFormation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.theme" for="field_theme">Theme</label>
            <input type="text" class="form-control" name="theme" id="field_theme"
                    ng-model="vm.demandeFormation.theme"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.dateDemande" for="field_dateDemande">Date Demande</label>
                <div class="input-group">
                    <input id="field_dateDemande" type="text" class="form-control" name="dateDemande" datetime-picker="{{dateformat}}" ng-model="vm.demandeFormation.dateDemande" is-open="vm.datePickerOpenStatus.dateDemande"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDemande')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.datesouhaite" for="field_datesouhaite">Datesouhaite</label>
                <div class="input-group">
                    <input id="field_datesouhaite" type="text" class="form-control" name="datesouhaite" datetime-picker="{{dateformat}}" ng-model="vm.demandeFormation.datesouhaite" is-open="vm.datePickerOpenStatus.datesouhaite"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datesouhaite')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.nombresjours" for="field_nombresjours">Nombresjours</label>
            <input type="text" class="form-control" name="nombresjours" id="field_nombresjours"
                    ng-model="vm.demandeFormation.nombresjours"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.demandeFormation.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.demandeFormation.justification" for="field_justification">Justification</label>
            <input type="text" class="form-control" name="justification" id="field_justification"
                    ng-model="vm.demandeFormation.justification"
                    />
        </div>

        <div class="form-group">
            <label data-translate="qualiMakerApp.demandeFormation.empploye" for="field_empploye">Empploye</label>
            <select class="form-control" id="field_empploye" name="empploye" ng-model="vm.demandeFormation.empploye" ng-options="employe as employe.id for employe in vm.employes track by employe.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
