
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAbscenceLabel" data-translate="qualiMakerApp.abscence.home.createOrEditLabel">Create or edit a Abscence</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.abscence.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.abscence.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.justifier" for="field_justifier">Justifier</label>
            <input type="text" class="form-control" name="justifier" id="field_justifier"
                    ng-model="vm.abscence.justifier"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.dateD" for="field_dateD">Date D</label>
                <div class="input-group">
                    <input id="field_dateD" type="text" class="form-control" name="dateD" datetime-picker="{{dateformat}}" ng-model="vm.abscence.dateD" is-open="vm.datePickerOpenStatus.dateD"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateD')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.dateF" for="field_dateF">Date F</label>
                <div class="input-group">
                    <input id="field_dateF" type="text" class="form-control" name="dateF" datetime-picker="{{dateformat}}" ng-model="vm.abscence.dateF" is-open="vm.datePickerOpenStatus.dateF"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateF')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.etat" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                    ng-model="vm.abscence.etat"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.integre" for="field_integre">Integre</label>
            <input type="text" class="form-control" name="integre" id="field_integre"
                    ng-model="vm.abscence.integre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="qualiMakerApp.abscence.commentaire" for="field_commentaire">Commentaire</label>
            <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                    ng-model="vm.abscence.commentaire"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
